* {
    box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
    background-color:#f1f1f1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}


main{
    position: relative;
    top:4rem;
}

@media only screen and (max-width: 801px) {
    .desktop{
        display: none;
    }
}

@media only screen and (min-width:800px) {
    
.mobile {
    display: none;
   
    }
}



/* HEADER */


header {
    background-color: #ffffff;
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 1;
    }

#logo {
    height: 4rem;
    margin: 0 1.5em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2em;
  }

nav{
     display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
  }
  
a {
    text-decoration: none;
    color: #303030;
    
}
    
.icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 1em;
}



ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    }

li {
    margin: 0;
    font-size: 1em;
    margin: 0 1em;
  }


/* BANNER */

.col_left {
  display: block;
  flex-wrap: wrap;
   
      }

.col_right {
  display: block;
  font-size: 1em;
  padding: 1em;
  max-height:50em;
  width: 100%;
  }

        
.col_left img{
  width: 100%;
}


  .flex-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  align-items: center;
  background-color: lightgray;
  }

  .text{
    font-weight: 1200;
    padding: 1em;
    
  }

 button {
    justify-content: center;
    margin: 2em auto;
    width:100%;
    height: 50px;
    background-color: grey;
    color: #f1f1f1;
    font-size: 0.8em;   
  }

  
  
  @media only screen and (min-width:801px) {
    .col_left {
    padding: 2em 1.5em;
      width: 60%;
    }
    .text {
      padding-right: 3em;
    }
    .col_right {
      width: 40%;
     
    }
  }

  @media only screen and (max-width:800px) {
    .col_right {
      width: 100%;
    }
  }

  /* INFORMATION */
  
  .info {
    display:flex;
    flex-wrap:wrap;
  }

  
  .info_left {
    display: block;
    flex-wrap: wrap;
    padding: 1em;
 
    }

    .info_left h1 {
      font-size: 2.5em;
      padding: 0;
      margin: 1em 0em 0em 0em;
    }

    .info_left p {
      font-size: 1.2em;
      margin: 0.5em 0em 0em 0em; 
    }

    .info_right {
      display:flex;
      flex-direction: column;
      padding: 2em 1.5em;
      border-left: 1px solid gray;
      width: 100%;
    
      }

      
.info_left img{
width: 100%;
}


.flex-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  align-items: center;
background-color: lightgray;
}

.info_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile_text h1{
  
  margin: 0;
}

.mobile_text h2{
  font-size: 1em;
  margin: 0;
}

.mobile_text h3{
  font-size: 1em;
  margin: 0;
}

.mobile_card{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.info_right a{
  width: 100%;
}

article.mobile_text{
width: 100%;
padding: 0;
margin: 0;
}

.mobile_text{
  justify-content: center;
  margin: 0;
}

 .info_right  :hover{
   background-color: lightgray;
 } 

.mobile_nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
}


.mobile_text{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 15em;
  justify-content: center;
}


.mobile_card {
  overflow: hidden;
 
}


.mobile_card img{
  width: 200%;
  background-position: center;
}


/* Phone */

@media only screen and (max-width:768px) {
  .mobile_text {
    width: 100%;
  }

  .mobile_text h1{
    font-size: 2em;
  }
  .mobile_text h2{
    font-size: 1.5em;
    padding: 1em 0em;
  }
}


@media only screen and (max-width:759px) , (min-width:651px)  {
  .mobile_text {
    padding: 0;
    max-width: 572px;
    
  }
}

/* IPAD */

@media only screen and (min-width:800px) {
  article.mobile_text {
    width: 65%;
    margin: 0;
  }
  .mobile_card {
    width: 35%; 
    margin: 0;
  }
}

/* DESKTOP */

@media only screen and (min-width:1024px) {
  article.mobile_text {
    padding: 1em;
    
  }
  .mobile_text h1{
    font-size: 1.2em;
  }
  .mobile_text h2{
    font-size: 1em;
    margin: 0.5em 0em;

  }
}

@media only screen and (max-width:800px) {
  .info_text {
  display: none;
 
  }
}

@media only screen and (min-width:800px) {
  .info_left {
  padding: 2em 1.5em;
    width: 60%;
  }
}

@media only screen and (max-width:800px) {
  .info_left {
    display: none;
  }
}

@media only screen and (min-width:800px) {
  .info_right {
    width: 40%;
   
  }
}

@media only screen and (max-width:800px) {
  .info_right {
    width: 100%;
  }
}


/* START LEARNING*/

section.start_learning {
  width: 100%;
}

.start_learning {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 2em 0em;
  width: 100%;
  
  }

  .start_learning h1{
    display: inline;
    font-size: 2.8em;
    margin: 1em 0em 0.5em 0em;
   align-items: center;
  }

  div.card_background{
    margin: auto;
  }
  .card_background{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
  }


.card {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    margin: 1em;
    width: 25%;
}

.card_text{
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height:13em;
  justify-items: left;
}

.card_text h1{
  font-size: 1.7em;
  margin: 0;
  width: 100%;
}
 
.card_text h2{
  margin: 1em 0;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: lighter;
}

.card_text h3{
  margin-top: 0;
  font-size: 1em;
  font-weight: lighter;
}

  .card img{
    width: 100%;
  }

@media only screen and (max-width:1023px){
  .card {
  width:100%;
  height: 9em;
  
  }

  .card img{
    display: none;
}

.card_text h1{
  font-size: 2em;
  padding: 1em ;
}

.card_text h2,h3{
  display: none;
}

.card_background{
 width: 100%;
 margin: 1em;
}

}


/* video */


.video {
  display:flex;
  flex-wrap:wrap;
  padding: 1em 0em;
}


 
.video_left {
  display: block;
  flex-wrap: wrap;
  padding: 1em;
  width: 60%;

  }

    
.video_left img{
width: 100%;
}

.video_right  :hover{
  background-color: lightgray;
} 

.video_right a{
  width: 100%;
  margin: 0em 0em 1em 0em;
  max-height: 20em;
}

.video_right {
  display:flex;
  flex-direction: column;
  padding: 1em;
  border-left: 1px solid gray;
  width: 40%;
  justify-content:left;
  }

div.center{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
  padding: 1em;
}


.video h1{
  font-size: 2em;
  margin: 1em 0em 0.5em 0em;
}  

.mobile_video_text{
  padding: 0em 1em;
  width: 60%;
}

.mobile_video_text h1{
  font-size: 1.5em;
margin: 0;
padding: 0.5em 0;
}

.mobile_video_text h2{
  font-size: 1em;
  margin: 0;
  padding: 0.5em 0;
  }
  
  .mobile_video_text h3{
  font-size: 1em;
  margin: 0;
  }

video{
  display: flex;
  width:100%;
}

.main_video_text{
  font-size: 1em;
  margin: 0;
}

.main_video_text h1{
  font-size: 2.5em;
  margin: 1em, 0;
  justify-content: left;
}

.main_video_text h1{
  font-size: 2.5em;
  margin: 1em, 0;
  justify-content: left;
}

.main_video_text p{
  font-size: 1em;
  margin: 1em, 0;
  justify-content: left;
}

.main_video_text h3{
  font-size: 1em;
  margin: 1em, 0;
  justify-content: left;
}

.video_card{
display: inline-flex;
align-items: center;
justify-content: center;
}

.video_text{
justify-content: center;
margin: 0;
max-height:12em;
padding: 0em 1em;
width: 100%;
}


.video_nav{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
width: 100%;
}


.video_text{
display: flex;
flex-direction: column;
height: 15em;
width: 100%;
}

.main_video_text{
  width: 100%;
  justify-content: left;
}

article.video_text{
  display: flex;
  flex-direction: column;
  max-width: 65%;
  }

.video_card {
  display: flex;
overflow: hidden;
max-width: 35%;
}


.video_card img{
width: 100%;
background-position: center;
}

 @media only screen and (max-width:800px){
  .video_right{
    display: none;
  }
  .video_left{
    width: 100%;
  }
 }

 .footer{
   display: inline-flex;
   height:5em;
   margin-top: 5em;
   padding: 1em;
   align-items: center;
   width: 100%;

 }

 .footer h5{
   display: flex;
 }

.footer ul{
  display: flex;
  border: lightpink;
  text-align: right;
   
 }

 .footer nav{
   text-align: right;
   justify-content: right;
   width: 100%;
 }

 .copyright{
width:100%;
 }

 .copyright p{
   font-size:0.8em;
   text-align: left;
   width: 100%;
 }

 .copyright ul{
  width: 100%;
  
  
 }